src/main/mule/soapservice.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="Hello_Port" service="Hello_Service" wsdlLocation="example.wsdl"/>
    <configuration-properties doc:name="Configuration properties" doc:id="522fe32a-8010-4cea-9c32-2895d6f71a3d" file="config-dev.yaml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a835c9fa-db1d-4754-b34e-5eb7772bdf24" >
		<db:generic-connection url="jdbc:derby:memory:myTestDB;create=true" driverClassName="org.apache.derby.jdbc.EmbeddedDriver" />
	</db:config>
	<flow name="api-main" doc:id="f6786fbf-b03b-4606-8072-3222f3de55de">
        <http:listener config-ref="api-httpListenerConfig" path="/Hello_Service/Hello_Port">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config" outputMimeType="application/xml">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="sayHello:\soapkit-config" doc:id="29e45143-eac4-4b50-9d2d-1e8f34dc0aae">
        <logger level="INFO" doc:name="Logger" doc:id="f9b5aadf-4059-4570-840c-afc884fdecad" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload.body.SayHelloRequest.firstName]"/>
		<logger level="INFO" doc:name="Logger" doc:id="1d96a933-0891-44f2-95bd-5466b2fbeebb" message="#[%dw 2.0&#10;output application/json&#10;---&#10;attributes]"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Set Variable" doc:id="c35ba604-3b10-4dee-a209-fe515daf8289" variableName="myPayload"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;attributes.protocolHeaders.id]" doc:name="Set Variable" doc:id="59b5f476-901d-490c-9144-2f36a02618ff" variableName="myId"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;attributes.protocolHeaders.status]" doc:name="Set Variable" doc:id="6881b881-32b5-44c9-ba5c-fae012d72a48" variableName="myStatus"/>
		<try doc:name="Try" doc:id="d6b79dfa-63e3-4f32-b066-a4dfaccd17dc" >
			<db:execute-script doc:name="Execute script" doc:id="ea79f2db-9505-404f-8039-d7e508bed427" config-ref="Database_Config">
			<db:sql><![CDATA[CREATE TABLE STUDENTINFORMATION (
    STUDENTNAME    VARCHAR(100),
    STUDENTID      INT PRIMARY KEY NOT NULL, -- Derby requires NOT NULL for Primary Keys
    STUDENTADDRESS VARCHAR(100),
    STUDENTSALARY  DECIMAL(10, 2),
    STUDENTLOCATION VARCHAR(100),
    STUDENTSTATUS   CHAR(1)
)]]></db:sql>
		</db:execute-script>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="de8e4213-b16f-48b3-8e97-188aff08c30c" type="DB:BAD_SQL_SYNTAX, DB:CONNECTIVITY, DB:QUERY_EXECUTION, DB:RETRY_EXHAUSTED">
					<logger level="INFO" doc:name="Logger" doc:id="0996cd73-648d-4b52-82c6-4d8b7e19e5b6" message="#[error.detailedDescription]"/>
				</on-error-continue>
			</error-handler>
		</try>
		<try doc:name="Try" doc:id="ba050253-0ea9-4059-aa8f-2e04ea57db3c" >
			<db:insert doc:name="Insert" doc:id="cefb30e0-ffc0-4eee-a7fe-67c18a83560f" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO STUDENTINFORMATION (STUDENTNAME, STUDENTID, STUDENTSTATUS) VALUES (:name, :id, :status)]]></db:sql>
			<db:input-parameters><![CDATA[#[{ name: vars.myPayload.body.SayHelloRequest.firstName,
  id: vars.myId,
  status: vars.myStatus
}]]]></db:input-parameters>
		</db:insert>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="dd3161e9-2251-474b-9245-3de0ca81ab7b" type="DB:BAD_SQL_SYNTAX, DB:CONNECTIVITY, DB:QUERY_EXECUTION, DB:RETRY_EXHAUSTED">
					<logger level="INFO" doc:name="Logger" doc:id="4006c1de-687c-41ba-8771-407347ae7c23" message="#[error.detailedDescription]"/>
				</on-error-continue>
			</error-handler>
		</try>
		<db:select doc:name="Select" doc:id="eccf4c18-6940-4af3-9f15-a4f9d0356e81" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM STUDENTINFORMATION]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="3c363682-58d8-41b7-a69f-e06f8005d812" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<java:invoke-static method="invokeStatic()" doc:name="Invoke static" doc:id="f4c7cf39-5bb6-402d-a9eb-95be1c092d6a" class="codeJava.CodeJava" target="invokeStaticNoArgs"/>
		<logger level="INFO" doc:name="Logger" doc:id="77ca18bd-9aa4-4057-9c69-5c25e02effd3" message="Call invokeStaticNoArgs : #[vars.invokeStaticNoArgs]"/>
		<java:invoke-static method="invokeStaticTwoArgs(java.lang.String,java.lang.String)" doc:name="Invoke static" doc:id="c5a00f64-2562-4aba-bfb8-42ff592f6e2c" class="codeJava.CodeJava" target="strConcatenate">
			<java:args ><![CDATA[#[{
	"strArg1" : vars.myPayload.body.SayHelloRequest.firstName,
	"strArg2" : "Giga"
}]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="9cfd4761-bc07-4e88-a328-4ecabbbd2de1" message="#[vars.strConcatenate]"/>
		<ee:transform doc:name="Transform Message import Java Code" doc:id="7b1b245e-0f8b-4c1b-8105-d9e166a9a05f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
import java!codeJava::CodeJava
---
{
	"key" : CodeJava::invokeStaticOneArg(10)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="344351c1-70d6-48e3-964a-87c943cee098" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<java:new constructor="CodeJava()" doc:name="New" doc:id="9d6626a1-0176-4f9c-93a1-1a6bc58c06cb" class="codeJava.CodeJava" target="DefaultConstructor"/>
		<java:invoke method="invoke()" doc:name="Invoke" doc:id="e7c56b78-c825-4899-b2ba-64cde9448060" instance="#[vars.DefaultConstructor]" class="codeJava.CodeJava" target="result1"/>
		<logger level="INFO" doc:name="Logger" doc:id="a8fd7288-c4cf-444f-9372-30b04c973914" message="#[vars.result1]"/>
		<java:new constructor="CodeJava(java.lang.String,java.lang.String)" doc:name="New" doc:id="79978037-003c-4177-a526-445b4a649c14" class="codeJava.CodeJava" target="ConstructorTwoArgs">
			<java:args ><![CDATA[#[{
	"output1" : vars.invokeStaticNoArgs,
	"output2" : vars.strConcatenate
}]]]></java:args>
		</java:new>
		<java:invoke doc:name="Invoke" doc:id="90cae4f6-be09-4216-a4fd-6f4f45659177" instance="#[vars.ConstructorTwoArgs]" class="codeJava.CodeJava" method="invokeOneArg(java.lang.String)">
			<java:args ><![CDATA[#[{
	"strArg" : vars.result1
}]]]></java:args>
		</java:invoke>
		<logger level="INFO" doc:name="Logger" doc:id="781b5906-cdf3-4b75-b3a2-a9a7c1886f19" message="#[payload]"/>
		<scripting:execute engine="Groovy" doc:name="Execute Groovy" doc:id="17ae3ea5-fb65-4152-9f76-4e3b1cb4398f" target="GroovyExpr">
			<scripting:code ><![CDATA[def lst = [];
		
lst.add(0, var1);
lst.add(1, var2);
return lst;]]></scripting:code>
			<scripting:parameters ><![CDATA[#[{
	"var1" : "Julie",
	"var2" : "Robert"
}]]]></scripting:parameters>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="5ea43834-4ea3-4791-a582-9f908c8aa605" message="#[vars.GroovyExpr]"/>
		<scripting:execute engine="python" doc:name="Execute Python" doc:id="43889f79-9dd0-42f7-8fa4-105f2b7044b4" target="PhytonExpr">
			<scripting:code ><![CDATA[# 'payload' and 'vars' are accessible automatically
# 'firstName' is a parameter passed from the UI
full_greeting = "Hello. Your payload was: " + str(payload)

# Assign to 'result' to send it back to the Mule flow
result = full_greeting.upper()
]]></scripting:code>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="574e1c6b-8dba-48b7-90bd-558dd058b6c8" message="#[vars.PhytonExpr]"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [sayHello:\soapkit-config] successful"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
